
gitLarn/gitLarn.xcodeproj/xcuserdata/xbk.xcuserdatad/xcschemes/xcschememanagement.plist
gitLarn/gitLarn.xcodeproj/project.xcworkspace/xcuserdata/xbk.xcuserdatad/UserInterfaceState.xcuserstate
gitLarn/gitLarn.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
gitLarn/gitLarn.xcodeproj/project.xcworkspace/contents.xcworkspacedata
gitLarn/gitLarn.xcodeproj/project.pbxproj
learn/learn.xcodeproj/project.pbxproj
.DS_Store
learn/learn.xcodeproj/project.xcworkspace/xcuserdata/xbk.xcuserdatad/UserInterfaceState.xcuserstate
learn/learn.xcodeproj/project.xcworkspace/xcuserdata/xbk.xcuserdatad/UserInterfaceState.xcuserstate
